<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">

</head>
<body class="sidebar-mini fixed">
	<div class="wrapper">
		<!-- Navbar-->
		<header th:replace="layout::header" class="main-header hidden-print">

		</header>
		<!-- Side-Nav-->
		<aside th:replace="layout::sidebar" class="main-sidebar hidden-print">

		</aside>
		<div class="content-wrapper">
			<div class="page-title">
				<div>
					<h1>
						<i class="fa fa-user-plus"></i>Chủ đề sự kiện mới
					</h1>
				</div>
				<div>
					<ul class="breadcrumb">
						<li><i class="fa fa-home fa-lg"></i></li>
						<li>Dashboard</li>
						<li><a href="#">Thêm chủ đề</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="card">
						<h3 class="card-title">Thêm chủ đề</h3>
						<form th:action="@{/admin/topic/add}" th:object="${topic}" th:method="POST">
							<div class="card-body">
								<div class="form-group">
									<label class="control-label">Tên chủ đề</label> <input
										type="text" placeholder="Nhập chủ đề sự kiện"
										class="form-control" th:field="*{name}"/>
									<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Lỗi</span>
								</div>
							</div>
							<div class="card-footer">
								<button type="submit" class="btn btn-success icon-btn">
									<i class="fa fa-fw fa-lg fa-check-circle"></i>Thêm chủ đề
								</button>
								&nbsp;&nbsp;&nbsp;
								<button type="reset" class="btn btn-danger icon-btn">
									<i class="fa fa-fw fa-lg fa-times-circle"></i>Huỷ
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery-2.1.4.min.js"
		th:src="@{/js/jquery-2.1.4.min.js}" type="text/javascript"></script>
	<script src="../static/js/essential-plugins.js"
		th:src="@{/js/essential-plugins.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/plugins/pace.min.js"
		th:src="@{/js/plugins/pace.min.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>


</body>
</html>